<div>
	<a href="/home">Back to Home</a>
</div>

<img src="#" alt="event cover photo">

<div class="row">

	<div id="main_event_info" class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">

				<h2 ng-bind="event.title"></h2>

				<!-- social media buttons -->

				<div>Host: <strong ng-bind="event.host + ' Rescue Team'"></strong></div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Details</div>
			<div class="panel-body">
				<div>
					<p ng-bind="event.details"></p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Media and Invites</div>
			<div class="panel-body">
				<div>Photos:</div>

				<!-- photo stream -->

				<div>Invite Users:</div>

				<textarea></textarea>

				<div>Invite via Email:</div>

				<textarea></textarea>
			</div>
		</div>
	</div>

	<div id="event_sidebar" class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">

				<div>
					<a href="/event/{{event._id}}/edit">Update Event</a>
				</div>

				<h4><strong>{{ event.date | date: 'MMMM d, yyyy @ h:mm a' }}</strong></h4>

				<div>
					<div>Location:</div>
					<p ng-bind="event.location"></p>
				</div>

				<!-- Map? -->

				<div>Attending:</div>

				<ul>
					<li ng-repeat="attendee in event.attending">
						{{ attendee.name }}
					</li>
				</ul>

				<button>Invite Member</button>

				<button>Share on Facebook</button>
			</div>
		</div>
	</div>

</div>