<button ui-sref="home">Back to Home</button>

<img src="#" alt="profile pic">

<div>
	<a href="/profile/{{currentUser._id}}/edit">Edit Profile</a>
</div>

<p>Name:</p>
<h1 ng-bind="user.profile.first_name + ' ' + user.profile.last_name"></h1>
<p ng-bind="'Tagline: ' + user.profile.tagline"></p>

<h3>Rescue Team Location</h3>
<p ng-bind="user.profile.location"></p>

<h3>About</h3>

<p ng-bind="user.profile.about"></p>

<h3>Favorite LiNK Experience</h3>

<p ng-bind="user.profile.fav_experience"></p>

<h3>Upcoming Events</h3>

// Upcoming Events

<h3>Past Events</h3>

// Past Events