<a href="/home">Back to Home</a>

<div class="row">
	<div class="col-md-4">
		<img src="#" alt="profile pic" height="200px" width="200px">
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1 ng-bind="user.profile.first_name + ' ' + user.profile.last_name"></h1>
				<p ng-bind="user.profile.tagline"></p>
				<p>Team Location: <span ng-bind="user.profile.location"></span></p>
				<div ng-if="currentUser._id == user._id">
					<a href="/profile/{{currentUser._id}}/edit">Edit Profile</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Events
			</div>
			<div class="panel-body">
				// Upcoming Events
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading"><span ng-bind="'About ' + user.profile.first_name"></span></div>
			<div class="panel-body"><span ng-bind="user.profile.about"></span></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Favorite LiNK Experience</div>
			<div class="panel-body"><span ng-bind="user.profile.experience"></span></div>
		</div>
	</div>
</div>


