<div class="jumbo-container container" >
	<div class="jumbotron main-jumbo">
		<div class="row">
			<div class="col-md-4">
				<img class="cover-logo" src="/images/logo-red.png">
			</div>
			<div class="col-md-8">
				<h1>UpLiNK</h1>
<!-- 				<p>The official LiNK network.</p> -->
				<p>Connecting Rescue Teams around the world.</p>
				<p>Sign in and see what #PeopleCan accomplish together.</p>
			</div>
<!-- 			<div class="col-md-5">
				<img src="/images/1.png" alt="home image">				
			</div> -->
		</div>
	</div>

</div>
